.weel , .shadow{
    box-shadow: 3px 3px 3px rgba(31, 31, 31, 0.918);
}
li,ul{
    list-style: none;
    text-decoration: none;
}
.blog_text{
    line-height: 1.8;
  
}
.img_post_container{
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}
.img_post_container_size_sm{
    max-height: 160px;
}
.img_post_container_size_md{
    max-height: 260px;
}
.img_post_container_size_lg{
    max-height: 460px;
}

.img_post{
    width:100%;
}
main .container{
    padding-top: 60px;
}